<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Nutzerinfos auf der Detailseite</label>
    <label lang="en">Userinfo on detailpage</label>
    <version>1.1.0</version>
    <copyright>(c) by Alexander Froehling</copyright>
    <license>MIT</license>
    <link>mailto:alexander.froehling@googlemail.com</link>
    <author>Alexander Fröhling</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">Fix vom Subscriber + script im Footer nach Jquery</changes>
        <changes lang="en">fixed subscriber, added script in footer after jquery is loaded</changes>
    </changelog>
</plugin>
